<div class="container p-4">
  <form class="card card-sm" [formGroup]="createCustomerForm">
    <div class="mb-3 p-2">
      <label for="customerName" class="form-label">Customer name:</label>
      <input type="text" class="form-control" id="customerName" placeholder="Name" formControlName="name">
      <span class="text-danger" *ngIf="name.invalid && name.touched">Customer name is required</span>
    </div>
    <div class="mb-3 p-2">
      <label for="birthDate" class="form-label">Birth date:</label>
      <input type="date" class="form-control" id="birthDate" placeholder="dd-mm-yyyy" formControlName="birthDate">
      <span class="text-danger" *ngIf="birth_date.invalid && birth_date.touched">Birth date is required</span>
    </div>
    <div class="mb-3 p-2">
      <label for="pesel" class="form-label">PESEL:</label>
      <input type="text" class="form-control" id="pesel" placeholder="Pesel" formControlName="pesel"
        pattern="[0-9]{11}">
      <span class="text-danger" *ngIf="pesel.invalid && pesel.touched">Pesel is required (11 digits)</span>
    </div>
    <div class="mb-3 p-2">
      <label for="address" class="form-label">Address:</label>
      <input type="text" class="form-control" id="address" placeholder="Address" formControlName="address">
      <span class="text-danger" *ngIf="address.invalid && address.touched">Address is required</span>
    </div>
    <div class="mb-3 p-2">
      <label for="phoneNum" class="form-label">Phone number:</label>
      <input type="text" class="form-control" id="phoneNum" placeholder="Phone number" formControlName="phoneNum">
      <span class="text-danger " *ngIf="phone_num.invalid && phone_num.touched">Phone number is required</span>
    </div>
    <div class="col-auto p-2">
      <button class="btn btn-primary" type="submit" (click)="createCustomer()"
        [disabled]="createCustomerForm.invalid">Add customer
      </button>
    </div>
  </form>
</div>

<div class="container">
  <h4 class="text-danger justify-content-center">{{error}}</h4>
</div>

<div class="container">
  <h4 class="text-success justify-content-center">{{success}}</h4>
</div>
