<img src="../assets/images/logo.png" alt="company logo">

<ol>
    <li><a>Home</a></li>
    <li><a>Policies</a>
        <ul>
            <li><a href="/createpolicy">Create policy</a></li>
            <li><a href="#">Search policy</a></li>
        </ul>
    </li>
    <li><a>Customers</a></li>
    <li><a>Statistics</a></li>
    <li class="login">
        <a href="/userlogin" *ngIf="!loggedUser; else logged">Log in</a>
    </li>
</ol>

<ng-template #logged>
    <p>{{loggedUser}} &#9660;</p>
    <ul>
        <li>Settings</li>
        <li><a href="#">Logout</a></li>
    </ul>
</ng-template>