<h3 class="text-center mt-3">Policy details</h3>

<div *ngIf="editState; then editPolicy else policyView"></div>

<ng-template #policyView>
  <div *ngIf="policy.policyId; then tables else noPolicy"></div>
</ng-template>

<ng-template #tables>
  <div class="row justify-content-center">
    <div class="col-auto">
      <h4 class="mt-3 text-center">Policy owner</h4>
      <table class="table table-borderless w-auto">
        <tbody>
          <tr>
            <th scope="row">ID</th>
            <td>{{customerSelected['customerId']}}</td>
          </tr>
          <tr>
            <th scope="row">Name</th>
            <td>{{customerSelected['name']}}</td>
          </tr>
          <tr>
            <th scope="row">PESEL</th>
            <td>{{customerSelected['pesel']}}</td>
          </tr>
          <tr>
            <th scope="row">Birth date</th>
            <td>{{customerSelected['birthDate'] | date: "mediumDate"}}</td>
          </tr>
          <tr>
            <th scope="row">Phone number</th>
            <td>{{customerSelected['phoneNum']}}</td>
          </tr>
          <tr>
            <th scope="row">Address</th>
            <td>{{customerSelected['address']}}</td>
          </tr>
        </tbody>
      </table>
    </div>
    <div class="col-auto">
      <h4 class="mt-3 text-center">Policy</h4>
      <table class="table table-borderless w-auto">
        <tbody>
          <tr>
            <th scope="row">Policy ID</th>
            <td>{{policySelected['policyId']}}</td>
          </tr>
          <tr>
            <th scope="row">Product type</th>
            <td>{{policySelected['productType']}}</td>
          </tr>
          <tr>
            <th scope="row">Type</th>
            <td>{{policySelected['type']}}</td>
          </tr>
          <tr>
            <th scope="row">Status</th>
            <td>{{policySelected['status']}}</td>
          </tr>
          <tr>
            <th scope="row">Start date</th>
            <td>{{policySelected['startDate'] | date: "mediumDate"}}</td>
          </tr>
          <tr>
            <th scope="row">End date</th>
            <td>{{policySelected['endDate'] | date: "mediumDate"}}</td>
          </tr>
        </tbody>
      </table>
    </div>
    <div class="col-auto">
      <h4 class="mt-3 text-center">Policy line</h4>
      <table class="table table-borderless w-auto">
        <tbody>
          <tr>
            <th scope="row">Policy line ID</th>
            <td>{{policyLine.policyLineId}}</td>
          </tr>
          <tr>
            <th scope="row">Product line type</th>
            <td>{{policyLine.policyLineType}}</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>

  <div class="row justify-content-center">

    <div class="col-auto">
      <h4 class="mt-3 text-center">Vehicle</h4>
      <table class="table table-borderless w-auto">
        <tbody>
          <tr>
            <th scope="row">Vehicle type</th>
            <td>{{vehicle.vehicleType}}</td>
          </tr>
          <tr>
            <th scope="row">Vehicle brand</th>
            <td>{{vehicle.brand}}</td>
          </tr>
          <tr>
            <th scope="row">Vehicle model</th>
            <td>{{vehicle.vehicleModel}}</td>
          </tr>
          <tr>
            <th scope="row">Generation</th>
            <td>{{vehicle.generation}}</td>
          </tr>
          <tr>
            <th scope="row">Engine type</th>
            <td>{{vehicle.engineType}}</td>
          </tr>
          <tr>
            <th scope="row">Engine</th>
            <td>{{vehicle.engine}}</td>
          </tr>
        </tbody>
      </table>
      <button class="btn btn-primary" type="submit" (click)="getVehicleTypes(vehicleTypesObject); editState = true">Edit
        policy</button>
      <button class="btn btn-primary" type="submit" routerLink="/customer">Back</button>
    </div>

    <div class="col-auto">
      <h4 class="mt-3 text-center">Vehicle properties</h4>
      <table class="table table-borderless w-auto">
        <tbody>
          <tr>
            <th scope="row">VIN</th>
            <td>{{vehicleObject.c01}}</td>
          </tr>
          <tr>
            <th scope="row">Registration number</th>
            <td>{{vehicleObject.c02}}</td>
          </tr>
          <tr>
            <th scope="row">Vehicle value</th>
            <td>{{vehicleObject.n02}}</td>
          </tr>
          <tr>
            <th scope="row">Year of manufacturing</th>
            <td>{{vehicleObject.d01 | date: "mediumDate"}}</td>
          </tr>
          <tr>
            <th scope="row">Mileage</th>
            <td>{{vehicleObject.n04}}</td>
          </tr>
          <tr>
            <th scope="row">Amount of insurance deposit</th>
            <td>{{vehicleObject.n05}}</td>
          </tr>
        </tbody>
      </table>
    </div>

    <div class="col-auto">
      <h4 class="mt-3 text-center">Driver</h4>
      <table class="table table-borderless w-auto">
        <tbody>
          <tr>
            <th scope="row">How many years insured</th>
            <td>{{driverObject.n02}}</td>
          </tr>
          <tr>
            <th scope="row">How many claims</th>
            <td>{{driverObject.n03}}</td>
          </tr>
          <tr>
            <th scope="row">License date</th>
            <td>{{driverObject.d01| date: "mediumDate"}}</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
  <div class="row" *ngIf="true; then viewRisks"></div>
</ng-template>

<ng-template #noPolicy>
  <div class="container text-center mt-5">
    <h5 class="text-danger">No policy choosen</h5>
    <a class="btn btn-md btn-primary" routerLink="/searchcustomer" role="button">Go to customer search &raquo;</a>
  </div>
</ng-template>

<ng-template #editPolicy>
  <div class="row justify-content-center">
    <div class="col-auto">
      <h4 class="mt-3 text-center">Policy owner</h4>
      <table class="table table-borderless w-auto">
        <tbody>
          <tr>
            <th scope="row">ID</th>
            <td>{{customerSelected[0]}}</td>
          </tr>
          <tr>
            <th scope="row">Name</th>
            <td>{{customerSelected[1]}}</td>
          </tr>
          <tr>
            <th scope="row">PESEL</th>
            <td>{{customerSelected[2]}}</td>
          </tr>
          <tr>
            <th scope="row">Birth date</th>
            <td>{{customerSelected[3] | date: "mediumDate"}}</td>
          </tr>
          <tr>
            <th scope="row">Phone number</th>
            <td>{{customerSelected[4]}}</td>
          </tr>
          <tr>
            <th scope="row">Address</th>
            <td>{{customerSelected[5]}}</td>
          </tr>
        </tbody>
      </table>
    </div>
    <div class="col-auto">
      <h4 class="mt-3 text-center">Product & policy line</h4>
      <label for="startDate">Select policy start date:</label>
      <input class="form-control" id="startDate" type="date" [(ngModel)]="policy.startDate">
      <label for="endDate">Select policy end date:</label>
      <input class="form-control" id="endDate" type="date" [(ngModel)]="policy.endDate">
      <label for="product">Select product:</label>
      <select class="d-inline" id="product" class="form-control" [(ngModel)]="policy.productType"
        (change)="choosePolicyLine(policy.productType)">
        <option selected hidden>Product</option>
        <option *ngFor="let product of products">{{product.productId}}</option>
      </select>
      <label for="policyLine">Select policy line:</label>
      <select id="policyLine" class="form-control" [(ngModel)]="policyLine.policyLineType"
        (change)="getRequiredObjects(policyLine.policyLineType); getVehicleTypes(vehicleTypesObject); chooseVeh('brand'); vehicle.vehicleType = null">
        <option selected hidden>Policy line</option>
        <option *ngFor="let policyLine of policyLines">{{policyLine.policyLineType}}</option>
      </select>
    </div>

    <div class="row justify-content-center">
      <div class="mb-5" *ngIf="policyLine.policyLineType === 'MOT'; then motorVehicle"></div>
      <div class="mb-5" *ngIf="policyLine.policyLineType === 'TRA'; then trailer"></div>
    </div>
  </div>

  <ng-template #motorVehicle>
    <div class="row justify-content-center">
      <div class="col-sm">
        <h4 class="text-center mt-3">Vehicle</h4>
        <label>Choose a vehicle type:</label>
        <select class="form-control" [(ngModel)]="vehicle.vehicleType" (change)="chooseVeh('brand')">
          <option selected hidden>{{vehicle.vehicleType}}</option>
          <option *ngFor="let vehicleType of vehicleTypesConfig">{{ vehicleType.vehicleType }}
        </select>
        <label>Choose a brand:</label>
        <select class="form-control" [disabled]="!vehicle.vehicleType" [(ngModel)]="vehicle.brand"
          (change)="chooseVeh('vehicleModel')">
          <option selected hidden>{{vehicle.brand}}</option>
          <option *ngFor="let vehicleBrand of vehicles.brand">{{vehicleBrand}}</option>
        </select>
        <label>Choose a model:</label>
        <select class="form-control" [disabled]="!vehicle.brand" [(ngModel)]="vehicle.vehicleModel"
          (change)="chooseVeh('generation')">
          <option selected hidden>{{vehicle.vehicleModel}}</option>
          <option *ngFor="let vehicleModel of vehicles.vehicleModel">{{vehicleModel}}</option>
        </select>
        <label>Choose a generation:</label>
        <select class="form-control" [disabled]="!vehicle.vehicleModel" [(ngModel)]="vehicle.generation"
          (change)="chooseVeh('engineType')">
          <option selected hidden>{{vehicle.generation}}</option>
          <option *ngFor="let generation of vehicles.generation">{{generation}}</option>
        </select>
        <label>Choose an engine type:</label>
        <select class="form-control" [disabled]="!vehicle.generation" [(ngModel)]="vehicle.engineType"
          (change)="chooseVeh('engine')">
          <option selected hidden>{{vehicle.engineType}}</option>
          <option *ngFor="let engineType of vehicles.engineType">{{engineType}}</option>
        </select>
        <label>Choose an engine:</label>
        <select class="form-control" [disabled]="!vehicle.engineType" [(ngModel)]="vehicle.engine"
          (change)="chooseVeh('vehicleId')">
          <option selected hidden>{{vehicle.engine}}</option>
          <option *ngFor="let engine of vehicles.engine">{{engine}}</option>
        </select>
      </div>

      <div class="col-sm">
        <h4 class="text-center mt-3">Vehicle properties</h4>
        <label for="VIN">Please enter VIN:</label>
        <input class="form-control" id="VIN" type="text" [(ngModel)]="vehicleObject.c01">
        <label for="rgnum">Please enter registration number:</label>
        <input class="form-control" id="rgnum" type="text" [(ngModel)]="vehicleObject.c02">
        <label for="mfgYear">Please enter date of manufacturing:</label>
        <input class="form-control" id="mfgYear" type="date" [(ngModel)]="vehicleObject.d01">
        <label for="mileage">Please enter mileage:</label>
        <input class="form-control" id="mileage" type="text" [(ngModel)]="vehicleObject.n04">
        <label for="vehVal">Value of a vehicle:</label>
        <input class="form-control" id="vehVal" type="text" [(ngModel)]="vehicleObject.n02">
        <label for="insDep">Sum of an insurance deposit:</label>
        <input class="form-control" id="insDep" type="text" [(ngModel)]="vehicleObject.n05">
      </div>

      <div class="col-sm">
        <h4 class="text-center mt-3">Driver</h4>
        <label for="yearsOC">How many years driver has been insured:</label>
        <input class="form-control" id="yearsOC" type="text" [(ngModel)]="driverObject.n02">
        <label for="claims">How many claims driver had:</label>
        <input class="form-control" id="claims" type="text" [(ngModel)]="driverObject.n03">
        <label for="licDate">Please enter driver's license date:</label>
        <input class="form-control" id="licDate" type="date" [(ngModel)]="driverObject.d01">
      </div>
    </div>
  </ng-template>

  <ng-template #trailer>
    <div class="row justify-content-md-center">
      <div class="col-sm-5">
        <h4 class="text-center mt-3">Vehicle</h4>
        <label>Choose a trailer type:</label>
        <select class="form-control" [(ngModel)]="vehicle.vehicleType" (change)="chooseVeh('brand')">
          <option selected hidden>{{vehicle.vehicleType}}</option>
          <option *ngFor="let vehicleType of vehicleTypesConfig">{{ vehicleType.vehicleType }}
          </option>
        </select>
        <label>Choose a brand:</label>
        <select class="form-control" [(ngModel)]="vehicle.brand" (change)="chooseVeh('vehicleModel')">
          <option selected hidden>{{vehicle.brand}}</option>
          <option *ngFor="let vehicleBrand of vehicles.brand">{{vehicleBrand}}</option>
        </select>
        <label>Choose a model:</label>
        <select class="form-control" [disabled]="!vehicle.brand" [(ngModel)]="vehicle.vehicleModel"
          (change)="vehicle.generation = 'null'; vehicle.engineType = 'null'; vehicle.engine = 'null'; chooseVeh('vehicleId')">
          <option selected hidden>{{vehicle.vehicleModel}}</option>
          <option *ngFor="let vehicleModel of vehicles.vehicleModel">{{vehicleModel}}</option>
        </select>
        <label for="VIN">Please enter VIN:</label>
        <input class="form-control" id="VIN" type="text" [(ngModel)]="vehicleObject.c01">
        <label for="rgnum">Please enter registration number:</label>
        <input class="form-control" id="rgnum" type="text" [(ngModel)]="vehicleObject.c02">
        <label for="mfgYear">Please enter year of manufacturing:</label>
        <input class="form-control" id="mfgYear" type="date" [(ngModel)]="vehicleObject.d01">
        <label for="vehVal">Value of a vehicle:</label>
        <input class="form-control" id="vehVal" type="text" [(ngModel)]="vehicleObject.n02">
        <label for="insDep">Sum of an insurance deposit:</label>
        <input class="form-control" id="insDep" type="text" [(ngModel)]="vehicleObject.n05">
      </div>
    </div>

  </ng-template>
  <button class="btn btn-primary mt-3" type="submit" (click)="getAllObjects(); editState = false">Back</button>
  <button class="btn btn-primary mt-3" type="submit" [disabled]="!vehicle.engine || !vehicle.vehicleModel"
    (click)="getRisksConfig(vehicleObject); openPopup(); updateObjects(); getAllObjects()">Accept Changes</button>
  <div class="row" *ngIf="true; then calculate"></div>

</ng-template>

<ng-template #viewRisks>
  <div class="container mt-4">
    <h4 class="mt-3">Select risks</h4>
    <div class="row">
      <table class=" table table-borderless w-auto">
        <thead>
          <tr>
            <th scope="col">Covered</th>
            <th scope="col">Id</th>
            <th scope="col">Risk</th>
            <th scope="col">Premium</th>
            <th scope="col">Premium for period</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let risk of risks">
            <td>{{risk.isSelected}}</td>
            <td>{{risk.id}}</td>
            <td>{{risk.riskId}}</td>
            <td>{{risk.premium}}</td>
            <td>{{risk.premiumForPeriod}}</td>
          </tr>
      </table>
    </div>
    <h5 class="mt-3">TOTAL PREMIUM: {{totalPremium}}</h5>
  </div>
</ng-template>


<ng-template #calculate>
  <div class="container mt-4">
    <h4 class="mt-3">Select risks</h4>
    <div class="row">
      <table class=" table table-borderless w-auto">
        <thead>
          <tr>
            <th scope="col">Covered</th>
            <th scope="col">Id</th>
            <th scope="col">Risk</th>
            <th scope="col">Premium</th>
            <th scope="col">Premium for period</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let risk of risks">
            <td>
              <input class="form-check-input" checked type="checkbox" *ngIf="risk.isSelected === 'true'"
                (change)="toggleCoverage(risk.riskId)">
              <input class="form-check-input" type="checkbox" *ngIf="risk.isSelected === 'false'"
                (change)="toggleCoverage(risk.riskId)">
            </td>
            <td>{{risk.id}}</td>
            <td>{{risk.riskId}}</td>
            <td>{{risk.premium}}</td>
            <td>{{risk.premiumForPeriod}}</td>
          </tr>
      </table>
    </div>
    <button class="btn btn-primary" type="submit"
      (click)="getAllObjects(); calculation(policyLine, vehicleObject)">Calculate
      premium</button>
    <h5 class="mt-3">TOTAL PREMIUM: {{totalPremium}}</h5>
  </div>
</ng-template>

<div class="modal" tabindex="-1" role="dialog" [ngStyle]="{'display':displayStyle}">
  <div *ngIf="!requiredRisks[0]; else requiredRisksModal">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h4 class="modal-title">Summary of Policy no: {{policy.policyId}}</h4>
        </div>
        <div class="modal-body">
          <p class="fw-bold">Policy holder: {{customerSelected['name']}}</p>
          <p class="fw-bold">Start date: {{policy.startDate | date: "mediumDate"}}</p>
          <p class="fw-bold">End date: {{policy.endDate | date: "mediumDate"}}</p>
          <p class="fw-bold">Premium to Paid: {{totalPremium}}</p>
          <p class="fw-bold"><label>Policy status:</label>
            <select class="form-control" style="width:100px" [(ngModel)]="policy.status">
              <option *ngFor="let status of statuses">{{status}}</option>
            </select>
          </p>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-primary" (click)="completePolicy();" routerLink="/customer">
            Complete
          </button>
          <button type="button" class="btn btn-primary" (click)="closePopup()">
            Cancel
          </button>
        </div>
      </div>
    </div>
  </div>
</div>

<ng-template #requiredRisksModal>
  <div class="modal" tabindex="-1" role="dialog" aria-labelledby="requiredRisksModal" aria-hidden="true"
    [ngStyle]="{'display':displayStyle}">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="requiredRisksModal">Required risks!</h5>
        </div>
        <div class="modal-body">
          <p>
            To complete policy you have to select required risks for this type of policy:
          </p>
          <ul>
            <li *ngFor="let requiredRisk of requiredRisks">{{requiredRisk.riskId}}</li>
          </ul>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal" (click)="closePopup()">Close</button>
        </div>
      </div>
    </div>
  </div>
</ng-template>
