<div>
    <h4 class="mb-3 mt-3 text-center">Policy Line Config</h4>
    <div *ngIf="!editState; then policyLineConfigLookup else addPolicyLineConfig"></div>
    <ng-template #policyLineConfigLookup>
        <div class="editbtn">
            <div class="btn-group" role="group" aria-label="Basic example">
                <button type="button" class="btn btn-primary btn-lg btn-block" (click)="editState=true">Edit</button>
                <button type="button" class="btn btn-primary btn-lg btn-block" routerLink="..">Back</button>
            </div>
        </div>
    </ng-template>


    <ng-template #addPolicyLineConfig>
        <div class="container mt-50">
            <div class="row mb-2">
                <div class="col-lg-1">
                    <label for="id">Id</label>
                </div>
                <div class="col-lg-1">
                    <label for="productId">Product id</label>
                </div>
                <div class="col-lg-1">
                    <label for="startDate">Product line id</label>
                </div>
                <div class="col-lg-1">
                    <label for="version">Version</label>
                </div>
            </div>
            <div class="row mb-2">
                <div class="col-lg-1">
                    <input class="form-control" id="id" type="text" [(ngModel)]="newProductLine.id">
                </div>
                <div class="col-lg-1">
                    <input class="form-control" id="productId" type="text" [(ngModel)]="newProductLine.productId">
                </div>
                <div class="col-lg-1">
                    <input class="form-control" id="policyLineType" type="text"
                        [(ngModel)]="newProductLine.policyLineType">
                </div>
                <div class="col-lg-1">
                    <input class="form-control" id="version" type="text" [(ngModel)]="newProductLine.version">
                </div>
                <div class="col-lg-1">
                    <div class="btn-group" role="group" aria-label="Basic example">
                        <button type="button" class="btn btn-primary"
                            (click)="mergePolicyLineTypeConfig(); editState=false">Add/Change</button>
                        <button type="button" class="btn btn-primary" (click)="editState=false">Cancel</button>
                    </div>
                </div>
            </div>
        </div>
    </ng-template>
    <br><br><br><br>
    <div class="form-group">
        <input type="text" class="form-control" placeholder="Filter by ID." style="width: min-content;"
            [(ngModel)]="searchTerm" />
    </div>

    <table class="table table-hover">
        <thead>
            <tr tr class="clickable">
                <th scope="col1" (click)="sorting(productLines,'id')">Id</th>
                <th scope="col2" (click)="sorting(productLines,'productId')"> Product id</th>
                <th scope="col3" (click)="sorting(productLines,'policyLineType')">Product line id</th>
                <th scope="col4" (click)="sorting(productLines,'version')">Version</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            <tr class="clickable" (click)="setPolicyLineTypeConfig(result)"
                *ngFor="let result of productLines | filteringPipe:searchTerm">
                <td>{{ result['id'] }}</td>
                <td>{{ result['productId'] }}</td>
                <td>{{ result['policyLineType']}}</td>
                <td>{{ result['version']}}</td>
            </tr>
        </tbody>
    </table>
</div>