/* Structure */
table {
    width: 100%;
  }
  
  .mat-form-field {
    font-size: 14px;
    width: 50%;
  }
  
  .mat-column-position {
    max-width: 100px;
  }
  
  .mat-column-name {
    max-width: 100px;
  }
  .btn{
    width: 110px;
}

.editbtn{
    float: right;
    margin-top: 1%;
    margin-left: 20%;
}