<div>
    <h4 class="mb-3 mt-3 text-center">Object Flexfields</h4>
    <div *ngIf="!editState; then flexfieldConfigLookup else addFlexfield"></div>
    <ng-template #flexfieldConfigLookup>
        <div class="editbtn">
            <div class="btn-group" role="group" aria-label="Basic example">
                <button type="button" class="btn btn-primary btn-lg btn-block" (click)="editState=true">Edit</button>
                <button type="button" class="btn btn-primary btn-lg btn-block" routerLink="..">Back</button>
            </div>
        </div>
    </ng-template>

    <ng-template #addFlexfield>
        <div class="container mt-50">
            <div class="row mb-2">
                <div class="col-lg-1">
                    <label for="id">Id</label>
                </div>
                <div class="col-lg-1">
                    <label for="type">Type</label>
                </div>
                <div class="col-lg-1">
                    <label for="objectKey">Object Key</label>
                </div>
                <div class="col-lg-1">
                    <label for="objectValue">Object Value</label>
                </div>
            </div>
            <div class="row mb-2">
                <div class="col-lg-1">
                    <input class="form-control" id="id" type="text" [(ngModel)]="newFlexfield.id">
                </div>
                <div class="col-lg-1">
                    <input class="form-control" id="type" type="text" [(ngModel)]="newFlexfield.type">
                </div>
                <div class="col-lg-1">
                    <input class="form-control" id="objectKey" type="text" [(ngModel)]="newFlexfield.objectKey">
                </div>
                <div class="col-lg-1">
                    <input class="form-control" id="objectValue" type="text" [(ngModel)]="newFlexfield.objectValue">
                </div>
                <div class="col-lg-1">
                    <div class="btn-group" role="group" aria-label="Basic example">
                        <button type="button" class="btn btn-primary"
                            (click)="mergeFlexfield(); editState=false">Add/Change</button>
                        <button type="button" class="btn btn-primary" (click)="editState=false">Cancel</button>
                    </div>
                </div>
            </div>
        </div>
    </ng-template>
    <table class="table table-hover">
        <thead>
            <tr tr class="clickable">
                <th scope="col1" (click)="sorting(flexfields,'id')">Id</th>
                <th scope="col2" (click)="sorting(flexfields,'type')">Type</th>
                <th scope="col3" (click)="sorting(flexfields,'objectKey')">Object Key</th>
                <th scope="col4" (click)="sorting(flexfields,'objectValue')">Object Value</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            <tr class="clickable" (click)="setFlexfield(result)" *ngFor="let result of flexfields">
                <td>{{ result['id'] }}</td>
                <td>{{ result['type'] }}</td>
                <td>{{ result['objectKey'] }}</td>
                <td>{{ result['objectValue']}}</td>
            </tr>
        </tbody>
    </table>
</div>