<div>
    <h4 class="mb-3 mt-3 text-center">Object Flexfields</h4>
    <div *ngIf="!editState; then flexfieldConfigLookup else addFlexfield"></div>
    <ng-template #flexfieldConfigLookup>
        <div class="editbtn">
            <div class="btn-group" role="group" aria-label="Basic example">
                <button type="button" class="btn btn-primary btn-lg btn-block" (click)="editState=true">Edit</button>
                <button type="button" class="btn btn-primary btn-lg btn-block" routerLink="..">Back</button>
            </div>
        </div>
    </ng-template>

    <ng-template #addFlexfield>
        <div class="container mt-50">
            <div class="row mb-2">
                <div class="col-lg-1">
                    <label for="id">Id</label>
                </div>
                <div class="col-lg-1">
                    <label for="type">Type</label>
                </div>
                <div class="col-lg-1">
                    <label for="objectKey">Object Key</label>
                </div>
                <div class="col-lg-1">
                    <label for="objectValue">Object Value</label>
                </div>
            </div>
            <div class="row mb-2">
                <div class="col-lg-1">
                    <input class="form-control" id="id" type="text" [(ngModel)]="newFlexfield.id">
                </div>
                <div class="col-lg-1">
                    <input class="form-control" id="type" type="text" [(ngModel)]="newFlexfield.type">
                </div>
                <div class="col-lg-1">
                    <input class="form-control" id="objectKey" type="text" [(ngModel)]="newFlexfield.objectKey">
                </div>
                <div class="col-lg-1">
                    <input class="form-control" id="objectValue" type="text" [(ngModel)]="newFlexfield.objectValue">
                </div>
                <div class="col-lg-1">
                    <div class="btn-group" role="group" aria-label="Basic example">
                        <button type="button" class="btn btn-primary"
                            (click)="mergeFlexfield(); editState=false">Add/Change</button>
                        <button type="button" class="btn btn-primary" (click)="editState=false">Cancel</button>
                    </div>
                </div>
            </div>
        </div>
    </ng-template>
    <br><br><br><br>
    <div *ngIf="data.length>0">
        <app-table-template [data]="data" [filteredValues]="filteredValues"></app-table-template>
    </div>
</div>