<h4 class="mt-3 text-center">Policy owner</h4>
<table class="table table-borderless w-auto">
    <tbody>
        <tr>
            <th scope="row">ID</th>
            <td>{{customerSelected['id']}}</td>
        </tr>
        <tr>
            <th scope="row">Name</th>
            <td>{{customerSelected['name']}}</td>
        </tr>
        <tr>
            <th scope="row">PESEL</th>
            <td>{{customerSelected['pesel']}}</td>
        </tr>
        <tr>
            <th scope="row">Birth date</th>
            <td>{{customerSelected['birthDate'] | date: "mediumDate"}}</td>
        </tr>
        <tr>
            <th scope="row">Phone number</th>
            <td>{{customerSelected['phoneNum']}}</td>
        </tr>
        <tr>
            <th scope="row">Address</th>
            <td>{{customerSelected['address']}}</td>
        </tr>
        <button class="btn btn-primary" routerLink="/customer">Cancel</button>
    </tbody>
</table>