<h3 class="text-center mt-3">Create policy</h3>

<div class="container" *ngIf="customerSelected[0] != null; else noCustomer">
  <div class="row justify-content-center">
    <div class="col-auto">
      <h4 class="mt-3 text-center">Policy owner</h4>
      <table class="table table-bordered w-auto">
        <tbody>
          <tr>
            <th scope="row">ID</th>
            <td>{{customerSelected[0]}}</td>
          </tr>
          <tr>
            <th scope="row">Name</th>
            <td>{{customerSelected[1]}}</td>
          </tr>
          <tr>
            <th scope="row">PESEL</th>
            <td>{{customerSelected[2]}}</td>
          </tr>
          <tr>
            <th scope="row">Birth date</th>
            <td>{{customerSelected[3] | date: "mediumDate"}}</td>
          </tr>
          <tr>
            <th scope="row">Phone number</th>
            <td>{{customerSelected[4]}}</td>
          </tr>
          <tr>
            <th scope="row">Address</th>
            <td>{{customerSelected[5]}}</td>
          </tr>
        </tbody>
      </table>
    </div>
    <div class="col-auto">
      <h4 class="mt-3 text-center">Product & policy line</h4>
      <label for="startDate">Select policy start date:</label>
      <input class="form-control" id="startDate" type="date" [(ngModel)]="startDate" (change)="setEndDate(startDate)">
      <label for="endDate">Select policy start date:</label>
      <input class="form-control" id="endDate" type="date" [disabled]="!startDate" [(ngModel)]="policy.endDate">
      <label for="product">Select product:</label>
      <select [disabled]="!startDate || policy.productType != null" class="d-inline" id="product" class="form-control"
        [(ngModel)]="policy.productType" (change)="choosePolicyLine(policy.productType); createPolicy()">
        <option selected hidden>Product</option>
        <option *ngFor="let product of products">{{product.productId}}</option>
      </select>
      <label for="policyLine">Select policy line:</label>
      <select [disabled]="!policy.productType || policyLine.productLineType != null" id="policyLine"
        class="form-control" [(ngModel)]="policyLine.productLineType"
        (change)="chooseVeh('brand'); getRequiredObjects(policyLine.productLineType); getVehicleTypes(vehicleTypesObject); updatePolicyLine(); vehicle.vehicleType = null">
        <option selected hidden>Policy line</option>
        <option *ngFor="let policyLine of policyLines">{{policyLine.policyLineId}}</option>
      </select>
    </div>
  </div>
</div>

<ng-template #noCustomer>
  <div class="container text-center mt-5">
    <h5 class="text-danger">No policy owner choosen</h5>
    <a class="btn btn-md btn-primary" routerLink="/searchcustomer" role="button">Go to customer search &raquo;</a>
  </div>
</ng-template>

<div class="container mb-5">
  <div *ngIf="policyLine.productLineType === 'MOT'; then motorVehicle"></div>
  <div *ngIf="policyLine.productLineType === 'TRA'; then trailer"></div>
</div>

<ng-template #motorVehicle>
  <div class="row">
    <div class="col-sm">
      <h4 class="text-center mt-3">Vehicle</h4>
      <label>Choose a vehicle type:</label>
      <select class="form-control" [(ngModel)]="vehicle.vehicleType" (change)="chooseVeh('brand')">
        <option selected hidden>{{vehicle.vehicleType}}</option>
        <option *ngFor="let vehicleType of vehicleTypesConfig">{{ vehicleType.vehicleType }}
      </select>
      <label>Choose a brand:</label>
      <select class="form-control" [disabled]="!vehicle.vehicleType" [(ngModel)]="vehicle.brand"
        (change)="chooseVeh('vehicleModel')">
        <option selected hidden>{{vehicle.brand}}</option>
        <option *ngFor="let vehicleBrand of vehicles.brand">{{vehicleBrand}}</option>
      </select>
      <label>Choose a model:</label>
      <select class="form-control" [disabled]="!vehicle.brand" [(ngModel)]="vehicle.vehicleModel"
        (change)="chooseVeh('generation')">
        <option selected hidden>{{vehicle.vehicleModel}}</option>
        <option *ngFor="let vehicleModel of vehicles.vehicleModel">{{vehicleModel}}</option>
      </select>
      <label>Choose a generation:</label>
      <select class="form-control" [disabled]="!vehicle.vehicleModel" [(ngModel)]="vehicle.generation"
        (change)="chooseVeh('engineType')">
        <option selected hidden>{{vehicle.generation}}</option>
        <option *ngFor="let generation of vehicles.generation">{{generation}}</option>
      </select>
      <label>Choose an engine type:</label>
      <select class="form-control" [disabled]="!vehicle.generation" [(ngModel)]="vehicle.engineType"
        (change)="chooseVeh('engine')">
        <option selected hidden>{{vehicle.engineType}}</option>
        <option *ngFor="let engineType of vehicles.engineType">{{engineType}}</option>
      </select>
      <label>Choose an engine:</label>
      <select class="form-control" [disabled]="!vehicle.engineType" [(ngModel)]="vehicle.engine"
        (change)="chooseVeh('vehicleId')">
        <option selected hidden>{{vehicle.engine}}</option>
        <option *ngFor="let engine of vehicles.engine">{{engine}}</option>
      </select>
      <button class="btn btn-primary" type="submit"
        (click)="updateInsuredVehicle(); reloadCoverages(vehicleObject); vehicleCreated = true"
        [disabled]="!vehicleObject.n05 || vehicleCreated">Create
        insured vehicle</button>
    </div>
    <div class="col-sm">
      <h4 class="text-center mt-3">Vehicle properties</h4>
      <label for="VIN">Please enter VIN:</label>
      <input class="form-control" id="VIN" type="text" [(ngModel)]="vehicleObject.c01">
      <label for="rgnum">Please enter registration number:</label>
      <input class="form-control" id="rgnum" type="text" [disabled]="!vehicleObject.c01"
        [(ngModel)]="vehicleObject.c02">
      <label for="mfgYear">Please enter date of manufacturing:</label>
      <input class="form-control" id="mfgYear" type="date" [(ngModel)]="vehicleObject.d01"
        [disabled]="!vehicleObject.c02">
      <label for="mileage">Please enter mileage:</label>
      <input class="form-control" id="mileage" type="text" [disabled]="!vehicleObject.d01"
        [(ngModel)]="vehicleObject.n04">
      <label for="vehVal">Value of a vehicle:</label>
      <input class="form-control" id="vehVal" type="text" [disabled]="!vehicleObject.n04"
        [(ngModel)]="vehicleObject.n02">
      <label for="insDep">Sum of an insurance deposit:</label>
      <input class="form-control" id="insDep" type="text" [disabled]="!vehicleObject.n02"
        [(ngModel)]="vehicleObject.n05">
    </div>
    <div class="col-sm">
      <h4 class="text-center mt-3">Driver</h4>
      <label for="yearsOC">How many years driver has been insured:</label>
      <input class="form-control" id="yearsOC" type="text" [(ngModel)]="driverObject.n02">
      <label for="claims">How many claims driver had:</label>
      <input class="form-control" id="claims" type="text" [disabled]="!driverObject.n02" [(ngModel)]="driverObject.n03">
      <label for="licDate">Please enter driver's license date:</label>
      <input class="form-control" id="mfgYear" type="date" [disabled]="!driverObject.n03"
        [(ngModel)]="driverObject.d01">
      <button class="btn btn-primary" type="submit"
        (click)="updateInsuredDriver(); reloadCoverages(vehicleObject); driverCreated = true"
        [disabled]="!driverObject.d01 || driverCreated">Create
        insured driver</button>
    </div>
  </div>
  <div class="row" *ngIf="driverCreated; then calculate">
  </div>
</ng-template>

<ng-template #trailer>
  <div class="row justify-content-md-center">
    <div class="col-sm-5">
      <h4 class="text-center mt-3">Vehicle</h4>
      <label>Choose a trailer type:</label>
      <select class="form-control" [(ngModel)]="vehicle.vehicleType" (change)="chooseVeh('brand')">
        <option selected hidden>{{vehicle.vehicleType}}</option>
        <option *ngFor="let vehicleType of vehicleTypesConfig">{{ vehicleType.vehicleType }}
      </select>
      <label>Choose a brand:</label>
      <select class="form-control" [disabled]="!vehicle.vehicleType" [(ngModel)]="vehicle.brand"
        (change)="chooseVeh('vehicleModel')">
        <option selected hidden>{{vehicle.brand}}</option>
        <option *ngFor="let vehicleBrand of vehicles.brand">{{vehicleBrand}}</option>
      </select>
      <label>Choose a model:</label>
      <select class="form-control" [disabled]="!vehicle.brand" [(ngModel)]="vehicle.vehicleModel"
        (change)="vehicle.generation = 'null'; vehicle.engineType = 'null'; vehicle.engine = 'null'; chooseVeh('vehicleId')">
        <option selected hidden>{{vehicle.vehicleModel}}</option>
        <option *ngFor="let vehicleModel of vehicles.vehicleModel">{{vehicleModel}}</option>
      </select>
      <label for="VIN">Please enter VIN:</label>
      <input class="form-control" id="VIN" type="text" [disabled]="!vehicle.vehicleModel"
        [(ngModel)]="vehicleObject.c01">
      <label for="rgnum">Please enter registration number:</label>
      <input class="form-control" id="rgnum" type="text" [disabled]="!vehicleObject.c01"
        [(ngModel)]="vehicleObject.c02">
      <label for="mfgYear">Please enter year of manufacturing:</label>
      <input class="form-control" id="mfgYear" type="text" [disabled]="!vehicleObject.c02"
        [(ngModel)]="vehicleObject.n01">
      <label for="vehVal">Value of a vehicle:</label>
      <input class="form-control" id="vehVal" type="text" [disabled]="!vehicleObject.n01"
        [(ngModel)]="vehicleObject.n02">
      <label for="insDep">Sum of an insurance deposit:</label>
      <input class="form-control" id="insDep" type="text" [disabled]="!vehicleObject.n02"
        [(ngModel)]="vehicleObject.n05">
      <button class="btn btn-primary" type="submit" [disabled]="!vehicleObject.n05 || vehicleCreated"
        (click)="createInsuredVehicle(); reloadCoverages(vehicleObject); vehicleCreated = true">Create
        insured trailer</button>
    </div>
  </div>
  <div class="col-sm" *ngIf="vehicleCreated; then calculate"></div>
</ng-template>

<ng-template #calculate>
  <div class="container mt-4">
    <h4 class="mt-3">Select risks</h4>
    <div class="row">
      <table class=" table table-bordered w-auto">
        <thead>
          <tr>
            <th scope="col">Covered</th>
            <th scope="col">Id</th>
            <th scope="col">Risk</th>
            <th scope="col">Premium</th>
            <th scope="col">Premium for period</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let risk of risks">
            <td>
              <input class="form-check-input" checked type="checkbox" *ngIf="risk.isSelected === 'true'"
                (change)="toggleCoverage(risk.riskId)">
              <input class="form-check-input" type="checkbox" *ngIf="risk.isSelected === 'false'"
                (change)="toggleCoverage(risk.riskId)">
            </td>
            <td>{{risk.id}}</td>
            <td>{{risk.riskId}}</td>
            <td>{{risk.premium}}</td>
            <td>{{risk.premiumForPeriod}}</td>
          </tr>
      </table>
    </div>
  </div>
  <button class="btn btn-primary" type="submit" (click)="calculation(policyLine, vehicleObject)">Calculate
    premium</button>
  <h5 class="mt-3">TOTAL PREMIUM: {{totalPremium}}</h5>
</ng-template>
