<h3 class="text-center mt-3">Create policy</h3>

<div class="container" *ngIf="customerSelected['id']; else noCustomer">
  <div class="row justify-content-center">
    <div class="col-auto">
      <app-customer-table></app-customer-table>
    </div>
    <div class="col-auto">
      <h4 class="mt-3 text-center">Product & policy line</h4>
      <label for="startDate">Select policy start date:</label>
      <input class="form-control" id="startDate" type="date" [(ngModel)]="policy.startDate"
        (change)="setEndDate(policy.startDate); chooseProduct()">
      <label for="endDate">Select policy end date:</label>
      <input class="form-control" id="endDate" type="date" [disabled]="!policy.startDate" [(ngModel)]="policy.endDate">
      <label for="product">Select product:</label>
      <select [disabled]="!policy.startDate || policy.productType != null" class="d-inline" id="product"
        class="form-control" [(ngModel)]="policy.productType" (change)="choosePolicyLine(); createPolicy()">
        <option selected hidden>Product</option>
        <option *ngFor="let product of products">{{product.productId}}</option>
      </select>
      <label for="policyLine">Select policy line:</label>
      <select [disabled]="!policy.productType || policyLine.policyLineType != null" id="policyLine" class="form-control"
        [(ngModel)]="policyLine.policyLineType"
        (change)="getRequiredObjects(policyLineTypeConfig); updatePolicyLine(); createPolicyLine()">
        <option selected hidden>Policy line</option>
        <option *ngFor="let policyLine of policyLines">{{policyLine.policyLineType}}</option>
      </select>
    </div>
  </div>
</div>

<ng-template #noCustomer>
  <div class="container text-center mt-5">
    <h5 class="text-danger">No policy owner choosen</h5>
    <a class="btn btn-md btn-primary" routerLink="/searchcustomer" role="button">Go to customer search &raquo;</a>
  </div>
</ng-template>

<app-vehicle [customerSelected]="customerSelected" [policyLine]="policyLine" [policy]="policy"
  *ngIf="policyLine.policyLineType === 'MOT'"></app-vehicle>