<div class="container">
    <div class="row">
        <div class="col-md-4 offset-md-4">
            <div class="login-form bg-light mt-4 p-4">
                <form class="row g-3" [formGroup]="logInForm" novalidate (ngSubmit)="onSubmit()">
                    <h4>Log in</h4>
                    <div class="col-12">
                        <label>Username</label>
                        <input type="text" class="form-control" placeholder="Username" formControlName="userName" required>
                        <span class="text-danger" *ngIf="userName.invalid && userName.touched">User name is required</span>
                    </div>
                    <div class="col-12">
                        <label>Password</label>
                        <input type="password" class="form-control" placeholder="Password" formControlName="userPassword" required>
                        <span class="text-danger" *ngIf="userPassword.invalid && userPassword.touched">Password is required</span>
                        <span class="text-danger" *ngIf="!loggedUser">User name or password is incorrect</span>
                    </div>
                    <div class="col-12">
                        <button type="submit" class="btn btn-dark float-end" [disabled]="logInForm.invalid"> Login</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
