<div class="center">
    <form [formGroup]="logInForm" novalidate (ngSubmit)="onSubmit()">
        <p>Please enter your login:</p>
        <input class="input" [class.ng-invalid]="userName.invalid && userName.touched" type="text" formControlName="userName">
        <span class="incorrect" *ngIf="userName.invalid && userName.touched">Login is required</span>
        <p>Please enter your password:</p>
        <input class="input" [class.ng-invalid]="userPassword.invalid && userPassword.touched" type="password" formControlName="userPassword">
        <span class="incorrect" *ngIf="userPassword.invalid && userPassword.touched">Password is required</span>
        <p class="incorrect" *ngIf="!loggedUser">User name or password is incorrect</p>
        <button class="btn" [disabled]="logInForm.invalid" type="submit">Login</button>
    </form>
</div>
